<p>test works!</p>
<!-- Interpolation -->
Hello {{uname}}!!

<!-- In Interpolation , the data flows from .ts file to .html file -->

<br>
<br>
<!-- Data binding -->
<input type="text" value="{{uname}}"><br>
 <input type="text" value="{{uname}}" disabled><br>

 <input type="text" value="{{uname}}" disabled="{{flag1}}"><br>
 <input type="text" value="{{uname}}" disabled="{{flag2}}"><br>


 <!-- In Data binding , the data flows from .ts file to .html file.But data binding fail in case of boolean values as
  we can see above examples. -->


  <!-- property binding []-->
  <input type="text" [value]="uname" [disabled]="flag2"><br>
  <input type="text" [value]="uname" [disabled]="flag1"><br>
   <!-- In property binding , the data flows from .ts file to .html file.But property binding work poperly in case of boolean values as
  we can see above examples. -->
